In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'../data/cleaned_dataset_step_1.csv')

In [3]:
df.head()

,Unnamed: 0,Country,Repositories Count,Followers,Most Used Language,Total Stars,Account Created At,Hireable,Unique Topics,Total Repository Size (KB)
0,0,Singapore,30,102331,JavaScript,2980,2010-11-28T01:05:40Z,NaN,NaN,155931
1,1,San Francisco,30,44504,Python,11169,2009-07-25T19:06:27Z,NaN,"robotics, audio-synthesis, denoising-diffusion...",679441
2,2,"Austin, TX",30,44094,JavaScript,23441,2009-11-08T06:56:21Z,TRUE,"async-patterns, observables, security, arrow-f...",62877
3,3,"San Francisco, CA",30,36793,Python,4517,2011-12-22T09:57:32Z,TRUE,NaN,305704
4,4,"9th Ring, Vim",30,36494,JavaScript,4675,2013-05-17T15:05:59Z,NaN,NaN,290287

In [5]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Unnamed: 0                       0
Country                       3662
Repositories Count              10
Followers                       10
Most Used Language            1671
Total Stars                     10
Account Created At              13
Hireable                      8247
Unique Topics                 6538
Total Repository Size (KB)      10
dtype: int64

In [6]:
df['Hireable'] = df['Hireable'].fillna(False)

In [7]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Unnamed: 0                       0
Country                       3662
Repositories Count              10
Followers                       10
Most Used Language            1671
Total Stars                     10
Account Created At              13
Hireable                         0
Unique Topics                 6538
Total Repository Size (KB)      10
dtype: int64

In [8]:
df.to_csv('../data/cleaned_dataset_step_2.csv', index=False)