In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'../data/cleaned_dataset_step_2.csv')

In [7]:
df.head()

,Unnamed: 0,Country,Repositories Count,Followers,Most Used Language,Total Stars,Account Created At,Hireable,Unique Topics,Total Repository Size (KB)
0,0,Singapore,30,102331,JavaScript,2980,2010-11-28T01:05:40Z,False,NaN,155931
1,1,San Francisco,30,44504,Python,11169,2009-07-25T19:06:27Z,False,"robotics, audio-synthesis, denoising-diffusion...",679441
2,2,"Austin, TX",30,44094,JavaScript,23441,2009-11-08T06:56:21Z,TRUE,"async-patterns, observables, security, arrow-f...",62877
3,3,"San Francisco, CA",30,36793,Python,4517,2011-12-22T09:57:32Z,TRUE,NaN,305704
4,4,"9th Ring, Vim",30,36494,JavaScript,4675,2013-05-17T15:05:59Z,False,NaN,290287

In [8]:
df['Hireable'] = df['Hireable'].replace({'TRUE': True, 'FALSE': False})

In [13]:
# Check for any missing or non-date values in 'Account Created At'
print(df['Account Created At'].isnull().sum())  # To check for missing values

13

In [ ]:
# Check for rows with invalid formats
invalid_dates = df[pd.to_datetime(df['Account Created At'], errors='coerce').isna()]
print(invalid_dates)

TypeError: can only concatenate str (not "int") to str

In [10]:
df['Account Created At'] = pd.to_datetime(df['Account Created At'])

ValueError: time data "Account Created At" doesn't match format "%Y-%m-%dT%H:%M:%S%z", at position 7338. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.