In [61]:
import pandas as pd

In [62]:
df = pd.read_csv(r'../data/manually_cleaned_dataset_step_5.csv')

In [63]:
df.tail()

,Country,Repositories Count,Followers,Most Used Language,Total Stars,Account Created At,Hireable,Unique Topics,Total Repository Size (KB)
8448,NaN,2,4,Visual Basic,2,2009-02-20 17:33:40+00:00,False,NaN,2516
8449,NaN,10,5,Python,4,2009-02-20 17:35:10+00:00,False,NaN,17703
8450,NaN,1,4,C++,2,2009-02-20 18:02:09+00:00,False,NaN,1121
8451,NaN,1,5,PHP,3,2009-02-20 18:12:10+00:00,False,NaN,1052
8452,NaN,1,5,Java,2,2009-02-20 18:12:25+00:00,False,NaN,39630

In [64]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                       2627
Repositories Count               0
Followers                        0
Most Used Language             136
Total Stars                      0
Account Created At               0
Hireable                         0
Unique Topics                 5127
Total Repository Size (KB)       0
dtype: int64

In [65]:
df['Country'] = df['Country'].fillna('Unknown')

In [66]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                          0
Repositories Count               0
Followers                        0
Most Used Language             136
Total Stars                      0
Account Created At               0
Hireable                         0
Unique Topics                 5127
Total Repository Size (KB)       0
dtype: int64

In [67]:
# Filter out rows where Country is "Unknown"
filtered_df = df[df['Country'] != 'Unknown']
print(len(filtered_df))

5826

In [68]:
most_frequent_lang = (
        filtered_df.groupby('Country')['Most Used Language']
        .apply(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
    )
print(most_frequent_lang)

Country
Afghanistan          Dart
Albania        JavaScript
Algeria            Python
Argentina      JavaScript
Armenia                Go
                  ...
Uzbekistan     JavaScript
Vietnam        JavaScript
Wales                Java
West Indies            C#
Yemen                HTML
Name: Most Used Language, Length: 107, dtype: object

In [69]:
# Map the most frequent language to the missing values
df['Most Used Language'] = df.apply(
    lambda row: most_frequent_lang[row['Country']]
    if pd.isna(row['Most Used Language']) and row['Country'] != 'Unknown'
    else row['Most Used Language'], axis=1
)

In [70]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                          0
Repositories Count               0
Followers                        0
Most Used Language               7
Total Stars                      0
Account Created At               0
Hireable                         0
Unique Topics                 5127
Total Repository Size (KB)       0
dtype: int64

In [71]:
# Identify rows where 'Most Used Language' is null
null_language = df['Most Used Language'].isnull()

# Extract only the 'Country' and 'Most Used Language' columns for rows with missing values
missing_language_rows = df.loc[null_language, ['Country', 'Most Used Language']]

# Display the result
print("Rows with Missing 'Most Used Language' (only 'Country' and 'Most Used Language' columns):")
display(missing_language_rows)

Rows with Missing 'Most Used Language' (only 'Country' and 'Most Used Language' columns):

      Country Most Used Language
2862  Moldova               None
5828  Unknown                NaN
5847  Unknown                NaN
5848  Unknown                NaN
5850  Unknown                NaN
5861  Unknown                NaN
5862  Unknown                NaN

In [72]:
df = df.dropna(subset=['Most Used Language'])

In [73]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                          0
Repositories Count               0
Followers                        0
Most Used Language               0
Total Stars                      0
Account Created At               0
Hireable                         0
Unique Topics                 5124
Total Repository Size (KB)       0
dtype: int64

In [74]:
df['Unique Topics'] = df['Unique Topics'].fillna('Unknown')

In [75]:
missing_values = df.isnull().sum()
print("Missing values per column: ")
print(missing_values)

Missing values per column:
Country                       0
Repositories Count            0
Followers                     0
Most Used Language            0
Total Stars                   0
Account Created At            0
Hireable                      0
Unique Topics                 0
Total Repository Size (KB)    0
dtype: int64

In [76]:
df.to_csv('../data/final_cleaned_data.csv', index=False)
print("Results saved to '('../data/final_cleaned_data.csv'.")

Results saved to '('../data/final_cleaned_data.csv'.